.partners {

	&__inner {
		display: grid;
		grid-template: auto / 1fr 1fr;
		grid-template-areas:
			"text first"
			". second";
		background-color: $lightblue-10;
		margin: 0 48px;
		width: calc(100% - (2 * 48px));
		padding: 112px;
		border-radius: 20px;
		margin: 0 auto;
		grid-row-gap: 80px;
		grid-column-gap: 80px;
	}

	&__text-wrapper {
		grid-area: text;
		align-self: center;
		max-width: 440px;
	}

	&__title {
		margin-bottom: 24px;
	}

	.item {
		
		&--first {
			grid-area: first;
		}

		&--second {
			grid-area: second;
		}
		
		&__logo {
			margin-bottom: 24px;
			max-width: 350px;
			width: 100%;
			display: block;
	
			img {
				object-fit: contain;
			}

		}

		&__link {
			display: block;
		}

	}


	@media (max-width: 1200px) {

		&__inner {
			grid-template: auto / auto;
			grid-template-areas:
				"text" 
				"first"
				"second";
			padding: 80px;
			margin: 0 24px;
			width: calc(100% - (2 * 24px));
		}

		&__text-wrapper {
			max-width: unset;
		}

		.item {
			
			&__logo {
				max-width: 250px;
		
				img {
					object-fit: contain;
				}

			}

			
		}

	}

	@media (max-width: 850px) {

		&__inner {
			padding: 24px;
		}

	}

}