.section {
	position: relative;
	// border: 2px solid red;
	overflow: hidden;
	margin-bottom: 32px;

	&__inner {
		padding: 0 48px;
		width: 100%;
		margin: 0 auto;
		max-width: $max-width;
	}

	@media (max-width: 850px) {
		&__inner {
			padding: 0 24px;
		}	
	}

}  