.memberships {

	&__inner {
		display: grid;
		grid-template: auto / 500px auto;
		grid-column-gap: 120px;
		grid-template-areas:
			"text logos";
		background-color: $lightblue-10;
		margin: 0 48px;
		width: calc(100% - (2 * 48px));
		padding: 112px;
		border-radius: 20px;
		margin: 0 auto;
	}


	&__text-wrapper {
		grid-area: text;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__logo-wrapper {
		grid-area: logos;
		display: grid;
		grid-template: auto auto / auto auto;
		grid-row-gap: 48px;
		grid-column-gap: 48px;
	}

	&__logo {

		img {
			object-fit: contain;
		}

		&--1 { width: 75%; justify-self: center; }
		&--2 { width: 100%; justify-self: end; }
		&--3 { width: 100% }
		&--4 { width: 75%; justify-self: end; }

	}

	@media (max-width: 1350px) {

		&__inner {
			grid-template: auto / 350px auto;
			grid-template-areas:
			"text logos";
		}

		&__logo-wrapper {
			grid-row-gap: 24px;
			grid-column-gap: 24px;
		}

	}

	@media (max-width: 1200px) {

		&__inner {
			grid-template: auto / auto;
			grid-template-areas:
			"text"
			"logos";
			grid-row-gap: 80px;
			padding: 80px;
			margin: 0 24px;
			width: calc(100% - (2 * 24px));
		}

		&__logo-wrapper {
				grid-row-gap: 24px;
				grid-column-gap: 24px;
		}

		&__logo {

			img {
				object-fit: contain;
			}
	
			&--1 { width: 75%; justify-self: center; }
			&--2 { width: 100% }
			&--3 { width: 75% }
			&--4 { width: 75%; justify-self: end; }
	
		}

	}

	@media (max-width: 850px) {

		&__inner {
			grid-template: auto / auto;
			grid-template-areas:
			"text"
			"logos";
			grid-row-gap: 80px;	
			padding: 24px;
		}

		&__logo-wrapper {
			grid-row-gap: 24px;
			grid-column-gap: 80px;
		}

		&__logo {

			img {
				object-fit: contain;
			}
	
			&--1 { width: 100%; justify-self: center; }
			&--2 { width: 100% }
			&--3 { width: 100% }
			&--4 { width: 100%; justify-self: end; }
	
		}

	}

	@media (max-width: 600px) {

		&__inner {
			grid-row-gap: 40px;
		}

		&__logo-wrapper {
			grid-row-gap: 24px;
			grid-column-gap: 48px;
		}

	}

}