.navigation--mobile {
	
	.navigation {

		&__bar {
			z-index: 15;
			height: 115px;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			padding: 48px;
			background-color: $white;
			transition: 0.3s ease;
		}
		
		&__inner {
			z-index: 10;
			padding: 24px 48px;
			background-color: $lightblue-10;
			width: 100%;
			margin-top: 115px;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow-y: scroll;
			opacity: 0;
			transition: 0.3s ease;
			pointer-events: none;
		}

		&__blocker {
			height: 115px;
		}

		&__logo {
			width: 150px;
		}

		&__link-wrapper {
			margin-bottom: 80px;
			max-width: 210px;
		}

		&__link {
			text-decoration: none;
			display: inline-block;
			margin-bottom: 32px;
		}

		&__address,
		&__contact, 
		&__times {
			display: block;
			position: relative;
			margin-bottom: 32px;
		}

		&__link,
		&__address,
		&__contact, 
		&__times {
			opacity: 0;
			transition: 0.6s ease;
		}



		&__times {
			margin-bottom: 0;
		}
			
		&__address-icon,
		&__contact-icon,
		&__times-icon {
			position: absolute;
			display: block;
			top: -3px;
			width: 24px;
			height: 24px;
		}

		&__address-item,
		&__contact-item,
		&__times-item {
			margin-left: 40px;
			text-decoration: none;
			font-weight: 300;
		}

		&__hamburger {
			position: absolute;
			top: 0;
			right: 0;
		}

		
		@media (max-width: 850px) {
			
			&__inner {
				padding: 24px;
			}

			&__bar {
				padding: 48px 24px;
			}
			
		}

	}

}

.navigation--open {

	.navigation {

		&__bar { background-color: $lightblue-10; }
		&__inner { 
			opacity: 1;
			pointer-events: unset;	
			transition-delay: 0s
		}

		&__link,
		&__address,
		&__contact, 
		&__times {
			opacity: 1;
		}

		&__link:nth-child(1) { transition-delay: 0.1s !important; }
		&__link:nth-child(2) { transition-delay: 0.2s !important; }
		&__link:nth-child(3) { transition-delay: 0.3s !important; }
		&__link:nth-child(4) { transition-delay: 0.4s !important; }
		&__address { transition-delay: 0.5s !important; }
		&__contact { transition-delay: 0.6s !important; }
		&__times { transition-delay: 0.7s !important; }
	
	}
	


}