.intro {
	background-color: $lightblue-10;
	
	&__inner {
		padding: 0 !important;
		display: grid;
		grid-template: auto auto auto / 1fr 1fr;
		grid-template-areas: 
			"title title"
			"text image"
			"navigation navigation";
	}

	&__title {
		grid-area: title;
		background-color: $lightblue-20;
		margin: 0 auto;
		display: block;
		width: 100%;
		max-width: $max-width;
		padding: 0 48px 24px 48px; 
	}

	&__text {
		grid-area: text;
		background-color: $lightblue-20;
		width: 100%;
		max-width: $max-width;
		padding: 0 48px 24px 48px;
	}

	&__image {
		grid-area: image;
		width: 100%;
		height: 135%;
		width: 100%;
		position: relative;
		object-fit: cover;
		display: block;
		width: calc(100% - (2 * 24px));
		
		span {
			position: unset !important;
			object-fit: cover;
		}

	}

	&__navigation {
		grid-area: navigation;
		width: 100%;
		max-width: $max-width;
		padding: 0 48px;
		margin-top: 48px;
	}

	@media (max-width: 850px) {
		border: 10px solid blue;
		
		&__inner {
			padding: 0 !important;
			display: grid;
			grid-template: auto auto auto / auto;
			grid-template-areas: 
				"title"
				"text"
				"image"
				"navigation";
		}

		&__image {
			height: 100%;
			width: 100%;
			max-width: $max-width;
			padding: 0 24px 24px 24px; 
			position: relative;
			width: calc(100% - (2 * 24px));
			height: 350px;
			margin: 0 auto;
			bottom: 80px;
			margin-bottom: -40px;
		}

		&__text {
			padding: 0 24px 120px 24px;
		}

		&__navigation {
			margin-top: 0;
			padding: 0 24px 0 24px !important;
		}

	}
}