.contact-form {
	
	&__inner {
		padding: 0 120px;
		max-width: 1000px;
	}

	&__input {
		margin-bottom: 32px;
	}

	&__submit {
		float: right;
	}
	
	@media (max-width: 1000px) {

		&__submit {
			margin: 0 auto;
			float: unset;
		}

	}
	
}