.quote {

	padding: 0 80px;

	&__quote-wrapper {
		position: absolute;
		top: 50%;
		transform: translate(104px, -50%);
		z-index: 5;
		max-width: 50vw;
	}
		
	&__quote-text {
		margin-bottom: 24px;

		&::before { content: '«'; }
		&::after { content: '»'; }
	}

	&__quote-author {
		margin-bottom: 24px;
	}

	&__link-link {
		display: none;
	}

	&__image-wrapper {
		margin-left: 50%;
		display: block;
	}

	&__image-image {
		display: block;
		margin-bottom: 24px;
	}

	@media (max-width: 1100px) {
		padding: 0 48px;
		
		&__quote-wrapper {
			transform: translate(48px, -50%);
			max-width: 55vh;
		}

		&__image-wrapper {
			margin-left: 30%;
			display: block;
		}

	}

	@media (max-width: 850px) {
		padding: 0px;
		
		&__quote-wrapper {
			position: initial;
			transform: translate(0px, -56px);
		}	

		&__image-link {
			display: none;
		}

	}

}