.article {

	.section__inner {
		padding: 0 120px 0 120px;
	}

	&__wrapper {
		display: grid;
		grid-template: auto / 1fr 1fr;
		grid-template-areas: 
			"image content";
		grid-column-gap: 96px;
		align-items: center;
	}

	&__image {
		height: 100%;
		position: relative;
		grid-area: image;
	}

	&__image span {
		position: unset !important;
	}

	&__content {
		grid-area: content;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__link {
		margin-top: 32px;
	}

	&--reverse {
		
		.article__wrapper {
			grid-template: auto / 1fr 1fr;
			grid-template-areas: 
				"content image";
		}	

	}

	@media (max-width: 1200px) {
		
		&__image {
			max-height: unset;
		}
		
	}

	@media (max-width: 1000px) {
		
		&__wrapper {
			grid-template: auto auto / auto !important;
			grid-template-areas: 
				"image" 
				"content" !important;
			grid-column-gap: 64px;
			align-items: center;
		}

		&__image {
			margin-bottom: 48px;
			max-height: 480px;

			&--hide-on-mobile {
				display: none;
			}

		}

		// &__text {
		// 	margin-bottom: 0px;
		// }

		&--reverse-on-mobile {

		.article__wrapper {
			grid-template: auto auto / auto !important;
			grid-template-areas: 
				"content" 
				"image" !important;
		}

		.article__image {
			margin-bottom: 0;
		}

		.article__text {
			margin-bottom: 32px;
		}

		}

	}

}