@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-thin.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-extra-light.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-extra-light.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-light.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-medium.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-regular.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-regular.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-bold.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-extra-bold.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-extra-bold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Greycliff-CF';
	src:
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-heavy.woff2') format('woff2'),
		local('fonts/greycliff-cf'), url('/fonts/greycliff-cf/greycliff-cf-heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}


