@import 'styles/configs/variables.scss';

* {
	color: $darkblue-100;
	font-family: 'Greycliff-CF', Helvetica, serif;
	box-sizing: border-box;
	scrollbar-width: none;
	outline: none;
	// scroll-behavior: smooth !important;
}

*::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}

body {
	background-color: $lightblue-4;
}