h1, h2, h3, h4, h5, .heading {
	line-height: 1.25;
}

h1, .heading--h1 {
	font-size: 45px;
	font-weight: 300;
}

h2, .heading--h2 {
	font-size: 40px;
	font-weight: 300;
}

h3, .heading--h3 {
	font-size: 32px;
	font-weight: 300;
}

h4, .heading--h4 {
	font-size: 40px;
	font-weight: 700;
}

h5, .heading--h5 {
	font-size: 22px;
	font-weight: 500;
}

p, .paragraph {
	font-size: 20px;
	font-weight: 300;
	line-height: 155%;
}

.link, .button {
	font-size: 18px;
	font-weight: 500;
}

label, .label {
	font-size: 16px;
}

input, .input {
	font-size: 20px;
}

.text-input__error-text {
	font-size: 16px;
}

.page-navigation__title {
	font-size: 20px;
}

.page-navigation__link {
	font-size: 20px;
}

.footer__navigation-link {
	font-size: 28px;
}

.footer__privacy-link {
	font-size: 18px;
}

::placeholder {
	font-size: 20px;
	font-weight: 300;
}

::-ms-input-placeholder {
	font-size: 20px;
	font-weight: 300;
}