// COLORS
$lightblue-100: #0B85A6;
$lightblue-80: #3C9DB8;
$lightblue-50: #85C2D2;
$lightblue-20: #CEE7ED;
$lightblue-10: #E7F3F6;
$lightblue-4: #F5FAFB;
$darkblue-100: #003067;
$darkblue-80: #2E5480;
$darkblue-50: #728AA5;
$darkblue-20: #B7C1CC;
$blue-gradient: linear-gradient(90deg, #003067 0%, #023C70 9.83%, #07648D 44.91%, #0A7C9F 72.84%, #0B85A6 89.98%);
$white: #fff;
$lightgrey: #B7B7B7;
$red: #E4405D;
$cyan: #59D3F3;

// TYPOGRAPHY
$default-line-height: 1.5;

// LAYOUT
$max-width: 1920px;